version: 2.1

orbs:

executors:
  base-python:
    docker:
      - image: cimg/python:<%= pythonVersion %>

commands:
  get_code_and_cache:
    steps:
      - checkout
      # Restore cached poetry
      - run:
          name: Remove docker image default poetry installation (so that right version can be restored from cache)
          command: |
            rm -rf /home/circleci/.local/share/pypoetry
      - restore_cache:
          keys:
            - poetry-1.5.1
      # Restore cached dependencies
      - restore_cache:
          keys:
            - project-dependencies-poetry-1.5.1-{{ checksum "poetry.lock" }}

jobs:
  install:
    executor: base-python
    steps:
      - get_code_and_cache
      - run:
          name: Install Poetry right version (if not already restored from cache)
          command: |
            [ -d "/home/circleci/.local/share/pypoetry" ] || curl -sSL https://install.python-poetry.org | python - --version 1.5.1
      - save_cache:
          key: poetry-1.5.1
          paths:
            - /home/circleci/.local/share/pypoetry
      - run:
          name: Install dependencies
          command: |
            poetry run pip install --upgrade pip
            poetry install --no-root
      - save_cache:
          key: project-dependencies-poetry-1.5.1-{{ checksum "poetry.lock" }}
          paths:
            - /home/circleci/.cache/pypoetry/virtualenvs
            - /home/circleci/.poetry/env

  test:
    executor: base-python
    steps:
      - get_code_and_cache
      - run:
          name: run pytest
          command: make test
      - store_test_results:
          path: tests-results.xml
      - store_artifacts:
          path: htmlcov

  ruff-format:
    executor: base-python
    steps:
      - get_code_and_cache
      - run:
          name: run ruff formatter
          command: make ruff-format

  ruff-lint:
    executor: base-python
    steps:
      - get_code_and_cache
      - run:
          name: run ruff linter
          command: make ruff-lint

  mypy:
    executor: base-python
    steps:
      - get_code_and_cache
      - run:
          name: run mypy
          command: make mypy

workflows:
  version: 2
  quality_checks:
    jobs:
      - install
      - test:
          requires:
            - install
      - ruff-check:
          requires:
            - install
      - ruff-format:
          requires:
            - install
      - mypy:
          requires:
            - install
