stages:
  - build
  - test

default:
  image: python:<%= pythonVersion %>

install:
  stage: build
  script:
    - echo "Update poetry to right version"
    - curl -sSL https://install.python-poetry.org | python - --version 1.7.0
    - export PATH="/root/.local/bin:$PATH"

    # create virtualenv in working directory to enable storage in cache with gitlab
    - echo "Create venv and install dependencies"
    - poetry config virtualenvs.in-project true
    - poetry run pip install --upgrade pip
    - poetry install
  cache:
    key:
      files:
        - poetry.lock
    paths:
      - .venv

.job_template:
  stage: test
  cache:
    key:
      files:
        - poetry.lock
    paths:
      - .venv
  before_script:
    - echo "Install poetry"
    - curl -sSL https://install.python-poetry.org | python - --version 1.7.0
    - export PATH="/root/.local/bin:$PATH"

black:
  extends: .job_template
  script:
    - make black

ruff:
  extends: .job_template
  script:
    - make ruff

mypy:
  extends: .job_template
  script:
    - make mypy

test:
  extends: .job_template
  script:
    - make test
  artifacts:
    reports:
      junit: ./tests-results.xml
      coverage_report:
        coverage_format: cobertura
        path: ./coverage.xml
